{% extends "base.html" %}
{% block body %}
  <div style="text-align: center;" id="outer">
  <div id="middle">
    <div style="text-align:center"class = "polaroid" id="inner">
      <h4> The colored video is ready you can preview and download it
        from the link below </h4  >
      <a  class="btn btn-link" href="/return-video/" target="blank">
        Download
      </a>

    </div>
    <a style="margin-left: -20%;" class="btn btn-primary" href="/" target="blank">
      Color again
    </a>
  </div>

</div>

{% endblock %}
